<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031288393350-4bolb85n2oc2ta7cbe0vk4kepeoqo107.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031288393350-4bolb85n2oc2ta7cbe0vk4kepeoqo107</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1031288393350-a8us42513n69t3p8nkn1n3b84pha7tma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB512a7Gju16Ti7xMYVDdyrk6Y0FlB6-bE</string>
	<key>GCM_SENDER_ID</key>
	<string>1031288393350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksbm.fortunetalk</string>
	<key>PROJECT_ID</key>
	<string>fortunetalk-c70fb</string>
	<key>STORAGE_BUCKET</key>
	<string>fortunetalk-c70fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031288393350:ios:d90b2ae137f4efb2624b07</string>
	<key>DATABASE_URL</key>
	<string>https://fortunetalk-c70fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>